<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">

  <!--  <listeners>

        <listener class-name="utils.ExtentListener"/>

    </listeners>  -->

    <test name="Regression Tests">

        <classes>

            <class name="tests.LoginTest"/>
        <class name="tests.CreateDriveTest"/>
            <class name="tests.EditDriveTest"/>
              <class name="tests.CloneDriveTest"/>
              <class name="tests.SortFilterTest"/>
              <class name="tests.DownloadReportTest"/>
              <class name="tests.DownloadMergedURLsTest"/>
            <class name="tests.FavouriteDrivesTest"/>
            <class name="tests.ConsolidatedReportsTest"/>




        </classes>

    </test>

</suite>